    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    max-width: 100%;
    height: auto;
}
.leafish_main{
    width: 968px;
    transform: translateX(18px);
    border: 1px solid black;
    max-width: 968px;
    transform: translateX(200px);
}
.leafish_Alexis{
    display: flex;
    background: #bdd1fc;
    justify-content: center;
    align-items: center;
}
.leafish_img img{
    width: 150px;  
    border-radius: 12px;
    border: 2px solid black;
    margin: 55px;
    transform: translateY(25px);
}
.leafish_txt{
    margin: 25px;
}
.leafish_txt h4{
    color: #008cff;
}

.leafish_txt p{
    margin-top: 15px;
    list-style: none;
    line-height: 1.9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0!important;
}
.leafish_columnss{
    display: flex;
    flex-flow: row wrap;
    text-decoration: none;
    background-color: #5a57d89d;
    padding: 20px;
    height: 20vh;
}
.leafish_columnss i{
    color: rgb(25, 0, 255);
    padding-right: 5px;
    text-decoration: none;
    list-style: none;
}
.leafish_column{
    flex: 1;
    color: #fff;
    transition: 0.3s;
    margin-left: 5px;
    text-decoration: none;
    list-style: none;
}
.leafish_column2{
    flex: 1;
    color: #fff;
    transition: 0.3s;
    margin-left: 238px;
}
.leafish_columnss a{
   text-decoration: none;
   color: black;
   cursor: pointer;
   padding-left: 8px;
   font-weight: 200;
}
.leafish_columnss p{
    margin-bottom: 0!important;
}
.leafish_details{
    display: flex;
    font-weight: 200;
}
.leafish_details i{
    color: #008cff;
}
.leafish_experience{
    float: left;
    margin: 20px;

}
.leafish_experience h1{
    border-bottom: 3px solid #008cff;
    width: 60%;
    color: #008cff;
    margin-top: 3px;
    font-size: 30px;
}
.leafish_experience h3{
    padding-top: 5px;
}
.leafish_experience h2{
    color: #008cff;
}
.leafish_heading{
    color: #008cff;
    font-style: italic;
}
.leafish_eduaction .Overview{
 margin-top: 7px;
}
.leafish_experience a{
    text-decoration: none;
    margin-top: 15px;
    color: black;
    padding-left: 5px;
    font-size: 15px;
    font-weight: 200;
    font-style: italic;
}
li{
    padding-top: 5px;
    line-height: 1.5;
}
.leafish_voko{
    margin-top: 30px;
    color: black;
    font-size: 25px;
}
.leafish_date{
    color: #008cff;
    font-style: italic;
}

.leafish_eduaction{
    position: relative;
    left: 20px;
    margin: 20px;
}
.leafish_eduaction h1{
    color: #008cff;
    border-bottom: 2px solid #008cff;
    width: 70%;
}
.leafish_eduaction h3{
    padding-top: 5px;
    font-weight: 100;
}
.leafish_eduaction p{
    color: #000000b7;
    margin-bottom: 0!important;
}
.leafish_eduaction a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.856);
    font-weight: 100;
    padding-left: 5px;
    font-style: italic;
}
.leafish_data{
    padding-top: 5px;
    font-weight: 100;
}
.leafish_eduaction .date{
    color: #008cff;
}
.leafish_louisiana{
    color: black;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 100;
}
.leafish_eduaction .bech{
    font-weight: 100;
}
.leafish_eduaction .baton{
    color: #00000073;
    font-weight: 100;
    margin: 2px;
}
.leafish_awards{
    margin-top: 30px;
    width: 40%;
}
.leafish_jp{
    margin-top: 30px;
}
.leafish_carl{
    margin-top: 30px;
}
.leafish_txt1{
  margin-top: 2px;
  
}

