    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    max-width: 100%;
}
.main{
    width: 968px;
    transform: translateX(18px);
    border: 1px solid black;
}
.Alexis{
    display: flex;
    background: #bdd1fc;
    justify-content: center;
    align-items: center;
}
.img img{
    width: 150px;  
    border-radius: 12px;
    border: 2px solid black;
    margin: 55px;
    transform: translateY(25px);
}
.txt{
    margin: 25px;
}
.txt h4{
    color: #008cff;
}

.txt p{
    margin-top: 15px;
    list-style: none;
    line-height: 1.9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.columnss {
    display: flex;
    flex-flow: row wrap;
    background-color: #5a57d89d;
    padding: 20px;
    height: 20vh;
}
.columnss i{
    color: rgb(25, 0, 255);
    padding-right: 5px;
}
.column{
    flex: 1;
    color: #fff;
    transition: 0.3s;
    margin-left: 5px;
}
.column2{
    flex: 1;
    color: #fff;
    transition: 0.3s;
    margin-left: 238px;
}
.columnss a{
   text-decoration: none;
   color: black;
   cursor: pointer;
   padding-left: 8px;
   font-weight: 200;
}

.experience{
    float: left;
    margin: 20px;

}
.experience h1{
    border-bottom: 3px solid #008cff;
    width: 60%;
    color: #008cff;
    margin-top: 3px;
    font-size: 30px;
}
.experience h3{
    padding-top: 5px;
}
.experience h2{
    color: #008cff;
}
.heading{
    color: #008cff;
}
.experience a{
    text-decoration: none;
    margin-top: 15px;
    color: black;
    padding-left: 5px;
}
li{
    padding-top: 10px;
    line-height: 1.5;
}
.voko{
    margin-top: 30px;
    color: black;
    font-size: 25px;
}
.date{
    color: #008cff;
}
.details{
    display: flex;
    font-weight: 200;
}
.eduaction{
    position: relative;
    left: 20px;
    margin: 20px;
}
.eduaction h1{
    color: #008cff;
    border-bottom: 2px solid #008cff;
    width: 70%;
}
.eduaction h3{
    padding-top: 5px;
    font-weight: 100;
}
.eduaction p{
    color: #000000b7;
}
.eduaction a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.856);
    font-weight: 100;
    padding-left: 5px;
}
.data{
    padding-top: 5px;
    font-weight: 100;
}
.louisiana{
    color: black;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 100;
}
.eduaction .bech{
    font-weight: 100;
}
.eduaction .baton{
    color: #00000073;
    font-weight: 100;
    margin: 2px;
}
.eduaction .awards{
    margin-top: 30px;
    width: 40%;
}
.eduaction .carl{
    margin-top: 30px;
}

